.chairman-radio-button {
  margin-bottom: 28px;
}

pdk-form-field.judiciary-form-field ::ng-deep .govuk-label--s {
  margin-bottom: 18px !important;
}

::ng-deep pdk-autosuggest-lite {
  // ~10 rows visible, then scroll.
  $visible-rows: 10;
  $row-height: 2.5rem;

  .pdk-autosuggest__suggestions-container--open {
    max-height: $visible-rows * $row-height;
    overflow-y: auto;
  }
}
