<pdk-form-group [ngModelGroup]="sessionType">
  <pdk-grid full>
    <pdk-grid full>
      <h3>{{ sessionType | uppercase }}</h3>
    </pdk-grid>
    <pdk-grid one-quarter class="flex-column-one">
      <pdk-form-group ngModelGroup="judiciaries">
        @for (judiciary of judiciaryFields; track $index; let i = $index) {
        <pdk-form-field
          [label]="i === 0 ? ('SESSION_TIMES.JUDICIARY' | translate) : 'Judiciary ' + (i + 1)"
          [labelType]="i === 0 ? 'small' : 'none'"
        >
          <judiciary-typeahead
            [attr.data-role]="'judiciary-typeahead-' + i"
            [name]="i.toString()"
            [ngModel]="getJudiciaryWithId(i)"
            (ngModelChange)="onSetJudiciaryTypeahead($event, i)"
          ></judiciary-typeahead>
        </pdk-form-field>
        }
      </pdk-form-group>
      <pdk-form-group ngModelGroup="otherJudiciaries">
        @for (otherJudiciary of otherJudiciaries; track $index; let i = $index) {
        <pdk-form-field>
          <input
            pdk-typography="body-xsmall"
            type="text"
            [name]="'otherJudiciary' + i"
            [ngModel]="otherJudiciary"
            (ngModelChange)="addOtherJudiciary($event)"
            pdk-text-input
            class="other-judiciary"
            [attr.data-role]="'otherJudiciary-' + i"
          />
        </pdk-form-field>
        }
        <p class="mt-m">
          <a
            data-role="add-new-judiciary-link"
            href="javascript:void(0)"
            (click)="onAddAnotherJudiciary()"
          >
            <span>{{ 'SESSION_TIMES.ADD_ANOTHER_LINK' | translate }}</span>
            <span pdk-visually-hidden>&nbsp;{{ sessionType | uppercase }}&nbsp;</span>
            <span pdk-visually-hidden>{{ 'SESSION_TIMES.JUDICIARY_PERSON' | translate }}</span>
          </a>
        </p>
      </pdk-form-group>
    </pdk-grid>
    <pdk-grid one-quarter class="flex-column-two">
      <pdk-form-field label="{{ 'SESSION_TIMES.CHAIRPERSON' | translate }}" labelType="small">
        <pdk-radio-group
          name="chairman"
          [(ngModel)]="selectedAmJudiciaryIndex"
          (change)="onChairmanChange($event)"
          class="chairman-radio-group"
          data-role="chairman-radio-group"
        >
          @for (selectedJudiciary of selectedJudiciaries; track selectedJudiciary.index; let i =
          $index) {
          <pdk-radio-button
            [value]="i"
            [disabled]="isChairmanDisabled(i)"
            class="chairman-radio-button"
            [attr.data-role]="'chairman-radio-btn-' + i"
          >
            <span pdk-visually-hidden>Judiciary {{ i + 1 }}</span>
          </pdk-radio-button>
          }
        </pdk-radio-group>
      </pdk-form-field>
    </pdk-grid>
    <pdk-grid one-quarter class="flex-column-three">
      <div class="start-end-time">
        <pdk-form-field
          labelType="small"
          label="{{ 'SESSION_TIMES.START_TIME' | translate }}"
          hintText="{{ 'SESSION_TIMES.START_TIME_HINT' | translate }}"
        >
          <pdk-time-input
            name="startTime"
            auto-shift="true"
            labelHidden="false"
            [ngModel]="courtSession?.startTime"
            (ngModelChange)="onTimeChange($event)"
          ></pdk-time-input>
        </pdk-form-field>
      </div>
    </pdk-grid>
    <pdk-grid one-quarter class="flex-column-four">
      <pdk-form-field
        labelType="small"
        label="{{ 'SESSION_TIMES.END_TIME' | translate }}"
        hintText="{{ 'SESSION_TIMES.END_TIME_HINT' | translate }}"
      >
        <pdk-time-input
          name="endTime"
          auto-shift="true"
          labelHidden="false"
          [ngModel]="courtSession?.endTime"
          (ngModelChange)="onTimeChange($event)"
        ></pdk-time-input>
      </pdk-form-field>
    </pdk-grid>
  </pdk-grid>
  <pdk-grid full>
    <pdk-grid one-quarter>
      <pdk-form-field label="{{ 'SESSION_TIMES.COURT_CLERK' | translate }}" labelType="small">
        <pdk-autosuggest-lite
          name="courtClerk"
          data-role="record-court-clerk"
          (inputText)="handleSearchSuggestions($event, 'courtClerks')"
          [suggestions]="filteredOfficerSuggestions['courtClerks']"
          suggestionKey="id"
          suggestionTitle="label"
          [ngModel]="courtOfficerModelGroup['courtClerks']"
          [highlightFirstSuggestion]="true"
          [highlightMatchedText]="true"
          [maxVisibleSuggestions]="10"
          (ngModelChange)="selectCourtOfficer()"
        >
        </pdk-autosuggest-lite>
      </pdk-form-field>
      <pdk-form-field label="{{ 'SESSION_TIMES.COURT_ASSOCIATE' | translate }}" labelType="small">
        <pdk-autosuggest-lite
          name="courtAssociate"
          data-role="record-court-associate"
          (inputText)="handleSearchSuggestions($event, 'courtAssociate')"
          [suggestions]="filteredOfficerSuggestions['courtAssociate']"
          suggestionKey="id"
          suggestionTitle="label"
          [ngModel]="courtOfficerModelGroup['courtAssociate']"
          [highlightFirstSuggestion]="true"
          [highlightMatchedText]="true"
          [maxVisibleSuggestions]="10"
          (ngModelChange)="selectCourtOfficer()"
        >
        </pdk-autosuggest-lite>
      </pdk-form-field>
      <pdk-form-field label="{{ 'SESSION_TIMES.LEGAL_ADVISOR' | translate }}" labelType="small">
        <pdk-autosuggest-lite
          name="legalAdviser"
          data-role="record-legal-advisor"
          (inputText)="handleSearchSuggestions($event, 'legalAdvisers')"
          [suggestions]="filteredOfficerSuggestions['legalAdvisers']"
          suggestionKey="id"
          suggestionTitle="label"
          [ngModel]="courtOfficerModelGroup['legalAdvisers']"
          [highlightFirstSuggestion]="true"
          [highlightMatchedText]="true"
          [maxVisibleSuggestions]="10"
          (ngModelChange)="selectCourtOfficer()"
        >
        </pdk-autosuggest-lite>
      </pdk-form-field>
    </pdk-grid>
  </pdk-grid>
</pdk-form-group>
<hr class="pdk-divider" />
