<pdk-form-group [ngModelGroup]="sessionType">
  <pdk-grid full>
    <pdk-grid full>
      <h3>{{ sessionType | uppercase }}</h3>
    </pdk-grid>
    <pdk-grid one-quarter class="flex-column-one">
      <pdk-form-field
        class="judiciary-form-field"
        label="{{ 'SESSION_TIMES.JUDICIARY' | translate }}"
        labelType="small"
        pdk-margin-bottom="3"
      >
        <judiciary-typeahead
          data-role="judiciary-typeahead-0"
          name="judge1"
          [ariaLabel]="'First Judge name'"
          [ngModel]="getJudiciaryWithId(0)"
          (ngModelChange)="onSetJudiciaryTypeahead($event, 0)"
        ></judiciary-typeahead>
      </pdk-form-field>
      <pdk-form-field label="Judiciary 2" labelType="none">
        <judiciary-typeahead
          name="judge2"
          data-role="judiciary-typeahead-1"
          [ariaLabel]="'Second Judge name'"
          [ngModel]="getJudiciaryWithId(1)"
          (ngModelChange)="onSetJudiciaryTypeahead($event, 1)"
        ></judiciary-typeahead>
      </pdk-form-field>
      <pdk-form-field label="Judiciary 3" labelType="none">
        <judiciary-typeahead
          name="judge3"
          data-role="judiciary-typeahead-2"
          [ariaLabel]="'Third Judge name'"
          [ngModel]="getJudiciaryWithId(2)"
          (ngModelChange)="onSetJudiciaryTypeahead($event, 2)"
        ></judiciary-typeahead>
      </pdk-form-field>
      <pdk-form-group ngModelGroup="otherJudiciaries">
        @for (otherJudiciary of otherJudiciaries; track $index; let i = $index) {
        <pdk-form-field>
          <judiciary-typeahead
            [attr.data-role]="'other-judiciary-typeahead-' + i"
            [name]="'otherJudiciary' + i"
            [ariaLabel]="'Additional Judge ' + (i + 1) + ' name'"
            [ngModel]="otherJudiciary.value"
            (ngModelChange)="onSetOtherJudiciary($event, i)"
          ></judiciary-typeahead>
        </pdk-form-field>
        }
        <p class="mt-m">
          <a
            class="govuk-!-margin-bottom-5 govuk-link"
            data-role="add-new-judiciary-link"
            href="javascript:void(0)"
            (click)="onAddAnotherJudiciary()"
          >
            <span>{{ 'SESSION_TIMES.ADD_ANOTHER_LINK' | translate }}</span>
            <span pdk-visually-hidden>&nbsp;{{ sessionType | uppercase }}&nbsp;</span>
            <span pdk-visually-hidden>{{ 'SESSION_TIMES.JUDICIARY_PERSON' | translate }}</span>
          </a>
        </p>
      </pdk-form-group>
    </pdk-grid>
    <pdk-grid one-quarter class="flex-column-two">
      <pdk-form-field label="{{ 'SESSION_TIMES.CHAIRPERSON' | translate }}" labelType="small">
        <pdk-radio-group
          name="chairman"
          [(ngModel)]="selectedAmJudiciaryIndex"
          (change)="onChairmanChange($event)"
          class="chairman-radio-group"
          data-role="chairman-radio-group"
        >
          @for (selectedJudiciary of selectedJudiciaries; track selectedJudiciary.index; let i =
          $index) {
          <pdk-radio-button
            [value]="i"
            [disabled]="isChairmanDisabled(i)"
            class="chairman-radio-button"
            [attr.data-role]="'chairman-radio-btn-' + i"
          >
            <span pdk-visually-hidden
              >Judiciary {{ i + 1
              }}{{ getJudiciaryDisplayName(i) ? ' ' + getJudiciaryDisplayName(i) : '' }}</span
            >
          </pdk-radio-button>
          }
        </pdk-radio-group>
      </pdk-form-field>
    </pdk-grid>
    <pdk-grid one-quarter class="flex-column-three">
      <div class="start-end-time">
        <pdk-form-field
          labelType="small"
          label="{{ 'SESSION_TIMES.START_TIME' | translate }}"
          hintText="{{ 'SESSION_TIMES.START_TIME_HINT' | translate }}"
        >
          <pdk-time-input
            name="startTime"
            auto-shift="true"
            labelHidden="false"
            [ngModel]="courtSession?.startTime"
            (ngModelChange)="onTimeChange($event)"
          ></pdk-time-input>
        </pdk-form-field>
      </div>
    </pdk-grid>
    <pdk-grid one-quarter class="flex-column-four">
      <pdk-form-field
        labelType="small"
        label="{{ 'SESSION_TIMES.END_TIME' | translate }}"
        hintText="{{ 'SESSION_TIMES.END_TIME_HINT' | translate }}"
      >
        <pdk-time-input
          name="endTime"
          auto-shift="true"
          labelHidden="false"
          [ngModel]="courtSession?.endTime"
          (ngModelChange)="onTimeChange($event)"
        ></pdk-time-input>
      </pdk-form-field>
    </pdk-grid>
  </pdk-grid>
  <pdk-grid full>
    <pdk-grid one-quarter>
      <pdk-form-field label="{{ 'SESSION_TIMES.COURT_CLERK' | translate }}" labelType="small">
        <pdk-autosuggest-lite
          name="courtClerk"
          data-role="record-court-clerk"
          (inputText)="handleSearchSuggestions($event, 'courtClerks')"
          [suggestions]="filteredOfficerSuggestions['courtClerks']"
          suggestionKey="id"
          suggestionTitle="label"
          [ngModel]="courtOfficerModelGroup['courtClerks']"
          [highlightFirstSuggestion]="true"
          [highlightMatchedText]="true"
          (ngModelChange)="selectCourtOfficer()"
        >
        </pdk-autosuggest-lite>
      </pdk-form-field>
      <pdk-form-field label="{{ 'SESSION_TIMES.COURT_ASSOCIATE' | translate }}" labelType="small">
        <pdk-autosuggest-lite
          name="courtAssociate"
          data-role="record-court-associate"
          (inputText)="handleSearchSuggestions($event, 'courtAssociate')"
          [suggestions]="filteredOfficerSuggestions['courtAssociate']"
          suggestionKey="id"
          suggestionTitle="label"
          [ngModel]="courtOfficerModelGroup['courtAssociate']"
          [highlightFirstSuggestion]="true"
          [highlightMatchedText]="true"
          (ngModelChange)="selectCourtOfficer()"
        >
        </pdk-autosuggest-lite>
      </pdk-form-field>
      <pdk-form-field label="{{ 'SESSION_TIMES.LEGAL_ADVISOR' | translate }}" labelType="small">
        <pdk-autosuggest-lite
          name="legalAdviser"
          data-role="record-legal-advisor"
          (inputText)="handleSearchSuggestions($event, 'legalAdvisers')"
          [suggestions]="filteredOfficerSuggestions['legalAdvisers']"
          suggestionKey="id"
          suggestionTitle="label"
          [ngModel]="courtOfficerModelGroup['legalAdvisers']"
          [highlightFirstSuggestion]="true"
          [highlightMatchedText]="true"
          (ngModelChange)="selectCourtOfficer()"
        >
        </pdk-autosuggest-lite>
      </pdk-form-field>
    </pdk-grid>
  </pdk-grid>
</pdk-form-group>
<hr class="pdk-divider" />
