@use 'govuk-frontend/govuk/base' as govuk;

.event-log-heading-row {
  display: flex;
  justify-content: space-between;
  width: 100%;

  border-bottom: 0.10526em solid govuk.govuk-colour('light-grey');
}

.event-log-form-row {
  border-bottom: 0.10526em solid govuk.govuk-colour('light-grey');
  padding: govuk.govuk-spacing(2) 0;

  &:last-of-type {
    border-bottom: none;
  }
}
