<dl pdk-summary-list>
  <div pdk-summary-list-item>
    <dt pdk-summary-list-key>{{ 'TIER_AND_LIST_TYPE.TIER' | translate }}</dt>
    <dd pdk-summary-list-value>
      @if (tierOption(); as option) {
      {{ option.labelKey | translate }}
      <div pdk-typography="body-small">
        {{ option.descriptionKey | translate }}
        @if (option.bulletKeys.length > 0) {
        <ul pdk-list="bullet" pdk-margin-bottom="0">
          @for (bulletKey of option.bulletKeys; track bulletKey) {
          <li pdk-typography="body-small">{{ bulletKey | translate }}</li>
          }
        </ul>
        }
      </div>
      }
    </dd>
    <dd pdk-summary-list-action>
      @if (isFinalised()) {
      <a
        href="javascript:void(0)"
        pdk-link
        unvisited
        (click)="delete.emit(); $event.preventDefault()"
      >
        {{ 'TIER_AND_LIST_TYPE.DELETE' | translate }}
        <span pdk-visually-hidden>{{ 'TIER_AND_LIST_TYPE.REVIEW_HEADING' | translate }}</span>
      </a>
      } @else {
      <a [routerLink]="formRoute()" pdk-link unvisited>
        {{ 'TIER_AND_LIST_TYPE.CHANGE' | translate }}
        <span pdk-visually-hidden>{{ 'TIER_AND_LIST_TYPE.TIER' | translate }}</span>
      </a>
      }
    </dd>
  </div>

  <div pdk-summary-list-item>
    <dt pdk-summary-list-key>{{ 'TIER_AND_LIST_TYPE.LIST_TYPE' | translate }}</dt>
    <dd pdk-summary-list-value>
      @if (listTypeOption(); as option) {
      {{ option.labelKey | translate }}
      <div pdk-typography="body-small">{{ option.hintKey | translate }}</div>
      } @else {
      {{ 'TIER_AND_LIST_TYPE.NONE_SELECTED' | translate }}
      } @if (ptphDetail().keyReason; as keyReason) {
      <div pdk-margin-top="3">
        <span pdk-typography="body-small" data-test-id="keyReasonLabel"
          >{{ 'TIER_AND_LIST_TYPE.KEY_REASON' | translate
          }}<span pdk-visually-hidden
            >{{ ' ' }}{{ 'TIER_AND_LIST_TYPE.KEY_REASON_CONTEXT' | translate }}</span
          >:</span
        >
        <pdk-foldable-text
          pdk-typography="body-small"
          [lineClamp]="3"
          [ariaMoreLabel]="'TIER_AND_LIST_TYPE.KEY_REASON_SHOW_MORE' | translate"
          [ariaLessLabel]="'TIER_AND_LIST_TYPE.KEY_REASON_SHOW_LESS' | translate"
        >
          {{ keyReason }}
        </pdk-foldable-text>
      </div>
      }
    </dd>
    <dd pdk-summary-list-action>
      @if (!isFinalised()) {
      <a [routerLink]="formRoute()" pdk-link unvisited>
        {{ 'TIER_AND_LIST_TYPE.CHANGE' | translate }}
        <span pdk-visually-hidden>{{ 'TIER_AND_LIST_TYPE.LIST_TYPE' | translate }}</span>
      </a>
      }
    </dd>
  </div>
</dl>

@if (!isFinalised()) { @if (!canFinalise()) {
<pdk-inset-text pdk-margin-top="4">
  {{ 'TIER_AND_LIST_TYPE.NEEDED_TO_FINALISE' | translate }}
</pdk-inset-text>
}

<pdk-warning-text pdk-margin-top="4">
  {{ 'TIER_AND_LIST_TYPE.NO_CHANGE_AFTER_FINALISATION' | translate }}
</pdk-warning-text>

<button
  pdk-button
  type="button"
  pdk-margin-top="4"
  [disabled]="!canFinalise()"
  (click)="finalise.emit()"
>
  {{ 'TIER_AND_LIST_TYPE.FINALISE' | translate }}
</button>
}
