.attendees-header {
  border-style: solid;
  border-left: none;
  border-right: none;
  border-width: 10px 0 5px 0;
  padding: 10px 0 10px 0;
  overflow: auto;
}

.float-right {
  float: right;
}

.inline-panel {
  display: inline;
}
